# Diretórios de dependências
/vendor
/node_modules

# Arquivos de ambiente
.env
.env.* # por exemplo, .env.testing, .env.local, etc

# Cache e logs
/storage/*.key
/storage/app/*
!/storage/app/public
/storage/debugbar
/storage/framework/*
!/storage/framework/cache
!/storage/framework/cache/data
!/storage/framework/sessions
!/storage/framework/views
/storage/logs

# Cache do Laravel
bootstrap/cache/*
!bootstrap/cache/.gitignore

# IDEs e editores
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de build
/public/storage
/public/hot
/public/mix-manifest.json
/public/js/*.map
/public/css/*.map

# Outras ferramentas
npm-debug.log
yarn-error.log
.phpunit.result.cache

# Arquivos personalizados
*.zip
*.tar.gz
